{{define "_category"}}
    <a href="/categories/{{.Slug}}">{{.Title}}</a>
    {{if $.Children}}
        <ul>
            {{range $j, $subCategory := .Children }}
                <li><a href="/categories/{{$.Slug}}/{{$subCategory.Slug}}">{{$subCategory.Title}}</a></li>
                {{if $subCategory.Children}}
                    <ul>
                        {{range $h, $subSubCategory := $subCategory.Children }}
                            <li><a href="/categories/{{$.Slug}}/{{$subCategory.Slug}}/{{$subSubCategory.Slug}}">{{$subSubCategory.Title}}</a></li>
                        {{end}}
                    </ul>
                {{end}}
            {{end}}
        </ul>
    {{end}}
{{end}}
