{{define "title"}}Recipe - {{.Recipe.Title}}{{end}}

{{define "body"}}
    <article>
        <h1>{{.Recipe.Title}}</h1>

        <p><strong>Total time:</strong> {{.Recipe.TotalTime}} minutes</p>

        <p><strong>Difficulty:</strong> {{.Recipe.DifficultyRating}}</p>

        <div>Categories:</div>
        <ul>
            {{range $i, $category := .Recipe.Categories}}
                <li><a href="/categories/{{$category.URL}}">{{$category.Title}}</a></li>
            {{end}}
        </ul>

        <div>
            <h3>About</h3>
            {{ entry.Description }}
        </div>

        <div>Ingredients</div>
        <ul>
            {{range $i, $ingredient := (index .Recipe.Ingredients 0).List}}
                <li>{{$ingredient.Amount}} {{$ingredient.Ingredient}}</li>
            {{end}}
        </ul>
        </ul>

        <div>Methods</div>
        <ol>
            {{ range $i, $method := (index .Recipe.Methods 0).List }}
                <li>{{$method.Step}}</li>
            {{ end }}
        </ol>
    </article>
{{end}}
