{{define "title"}}Recipe - {{.Recipe.Title}}{{end}}

{{define "body"}}
    <h1>{{.Recipe.Title}}</h1>

    <div>Difficulty {{.Recipe.DifficultyRating}}</div>
    <div>Time {{.Recipe.TotalTime}}</div>

    <div>Categories</div>
    <ul>
        {{ range $i, $category := .Recipe.Categories }}
            <li><a href="/categories/{{$category.ID}}">{{$category.Title}}</a></li>
        {{ end }}
    </ul>

    <div>Ingredients</div>
    <ul>
        {{ range $i, $ingredient := (index .Recipe.Ingredients 0).List }}
            <li>{{$ingredient.Amount}} {{$ingredient.Ingredient}}</li>
        {{ end }}
    </ul>
    </ul>

    <div>Methods</div>
    <ol>
        {{ range $i, $method := (index .Recipe.Methods 0).List }}
            <li>{{$method.Step}}</li>
        {{ end }}
    </ol>

{{end}}
