{{define "title"}}Categories{{end}}

{{define "body"}}
    <h1>Cocktail Recipes</h1>

    <article>
        <div class="item-container">
            {{range $i, $recipe := .Recipes}}
                <a class="item" href="/recipes/{{$recipe.Slug}}">
                    <div class="item-frame">
                        <h3>{{$recipe.Title}}</h3>
                        <p>{{$recipe.Description}}</p>
                        <div class="button">Find out more</div>
                    </div>
                </a>
            {{end}}
        </div>
    </article>

    <div class="pagination">
        {{if .Pagination.Previous}}
            <a href="/recipes?page={{.Pagination.Previous}}&ingredients={{.Ingredients}}&title={{.Title}}">Previous</a>
        {{end}}
         Page {{.Pagination.Page}} / {{.Pagination.Total}}
        {{if .Pagination.Next}}
            <a href="/recipes?page={{.Pagination.Next}}&ingredients={{.Ingredients}}&title={{.Title}}">Next</a>
        {{end}}
    </div>
{{end}}
