{{define "title"}}Categories{{end}}

{{define "body"}}
    <h1>Cocktail Recipes</h1>

    <ul>
        {{range $i, $recipe := .Recipes}}
            <li>
                <h3>{{$recipe.Title}}</h3>
                {{$recipe.Description}}
                <a href="/recipes/{{$recipe.Slug}}">Find out more</a>
            </li>
        {{end}}
    </ul>
    <div>
        {{if .Pagination.Previous}}
            <a href="/recipes?page={{.Pagination.Previous}}&ingredients={{.Ingredients}}&title={{.Title}}">Previous</a>
        {{end}}
         Page {{.Pagination.Page}} / {{.Pagination.Total}}
        {{if .Pagination.Next}}
            <a href="/recipes?page={{.Pagination.Next}}&ingredients={{.Ingredients}}&title={{.Title}}">Next</a>
        {{end}}
    </div>
{{end}}
